<table>
  <h2>ブックマーク一覧</h2>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>画像</th>
      <th>星評価</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <%= link_to movie_path(bookmark.movie) do %>
            <%= bookmark.movie.title %>
          <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>