<div class="about">
  <h1 class="about-title">About</h1>
  <p class="about-comment">Let's enjoy the movieは映画好きの人達を繋げる目的で立ち上げたサイトです。<br>
      老若男女問わず趣味の合う映画友達を作っていただけるよう、<br>
      今後も様々なコンテンツを順次追加していく予定です。<br>
      本サイトを通じてたくさんの人が繋がっていただけると嬉しく思います。<br>
  </p>
</div>