<% if obj.errors.any? %>
  <div id="error_explanation">
    <h2class="text-center">エラーが発生しました。以下のご確認をお願いいたします。</h2>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>